<div class="contact-main">
  <img alt="Open" class="icon-menu" src="https://raw.githubusercontent.com/zfz/stories/a00e0091be56466eb3cfccad481eb55e91843f92/app/assets/images/open.svg" width="24px" />
  <div class="content container">
    <h1>Thanks. We'll be in touch.</h1>
  </div>
</div>